
<div class="about">

    <div class="about-1">
        <img src="assets/about.jpg" width="1090">
        
    </div>
  
    <div class="content">
    <h2>Education Learning</h2>
  </div>

  <div class="main-2">
      <div class="main-2-3">
        <img src="../../assets/photo1.jpg" width="100%" height="295px">
        <p>A learning experience is content that builds skills and behaviors.
          This type of eLearning content is instrumental in changing perceptions.
           Unlike performance support, which quickly meets a learner's demand for knowledge, 
         learning experiences transform behaviors over a longer time.</p>

      </div>

  </div>  

  <div class="main-3">
    <div class="3-1">
      <img src="">
    </div>
  </div>

</div>