
<div class="container">
    
    <div class="1">
    <img src="../../assets/1.jpg" width="1080px">
    </div>

</div>

<div class="card-deck">
    
    <div class="card bg-success"> <a href="/exam/az900">
      <div class="card-body text-center">
        <p class="card-text">Microsoft-AZ-900 </p>
      </div>
    </a>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>  
  </div>

<!-- <div class="container-1">


</div>  -->
