
<div class="container">
    
    <div class="1">
    <img src="../../assets/1.jpg" width="1080px">
    </div>

</div>

<div class="card-deck">
    
    <div class="card bg-success">  <!-- <a href="/exam">  -->  
        <a  routerLink="./exam" routerLinkActive="activeLink">
      <div class="card-body text-center">
        <p class="card-text">Microsoft-AZ-900 </p>
      </div>
    </a>
    </div>
    <div class="card bg-warning">
        <a  routerLink="./exam" routerLinkActive="activeLink">
      <div class="card-body text-center">
        <p class="card-text">Google AdWords Fundamentals</p>
      </div>
    </a>
    </div>
    <div class="card bg-success">
        <a routerLink="./exam" routerLinkActive="activeLink">
      <div class="card-body text-center">
        <p class="card-text" >Microsoft-AZ-900</p>
      </div>
    </a>
    </div>
    <div class="card bg-danger">
       <a  routerLink="./exam" routerLinkActive="activeLink"> 
      <div class="card-body text-center">
        <p class="card-text">Google AdWords Fundamentals</p>
      </div>
    </a>
    </div>  
  </div>

<!-- <div class="container-1">


</div>  -->
