
  <!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->




<div class="container">
    
    <div class="1">
    <img src="../../assets/1.jpg" width="1080px">
    </div>

</div>

<div class="card-deck">
    
    <div class="card bg-success">  <!-- <a href="/exam">  -->  
        <a  routerLink="/exams" routerLinkActive="activeLink">
      <div class="card-body text-center">
        <p class="card-text">Microsoft-AZ-900 </p>
      </div>
    </a>
    </div>
    <div class="card bg-warning">
        <a  routerLink="/exam" routerLinkActive="activeLink">
      <div class="card-body text-center">
        <p class="card-text">Google AdWords Fundamentals</p>
      </div>
    </a>
    </div>
    <div class="card bg-success">
        <a routerLink="/exam" routerLinkActive="activeLink">
      <div class="card-body text-center">
        <p class="card-text" >Microsoft-AZ-900</p>
      </div>
    </a>
    </div>
    <div class="card bg-danger">
       <a  routerLink="/exam" routerLinkActive="activeLink"> 
      <div class="card-body text-center">
        <p class="card-text">Google AdWords Fundamentals</p>
      </div>
    </a>
    </div>  
  </div>

<!-- <div class="container-1">


</div>  -->
